* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
}


header {
 display: flex;
 align-items: center;
 padding-block: 10px;
 margin: 0;
 height: 11rem;
}

.navbar-logo {
  font-size: 3rem;
  margin-left: 2rem;
  margin-right: auto;
  font-weight: bolder;
}

nav {
  font-size: 2rem;
  margin-right: 2rem;
}
a {
  text-decoration: none;
  color: inherit
}
.link-about {
  margin-right: 1rem;
}

.home-container {
  
  color: antiquewhite;
  background: url('../public/image53.png');
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 54rem;
    color: white;
    padding: 9rem 6rem;
  
}
 .title {
  font-size: 4rem;
  color: white;
}
.text {
  font-size: 2rem;
  margin-top: 3rem;
}
.footer {
  font-size: 2rem;
  background-color: black;
  color: aliceblue;
  text-align: center;
  height: 11rem;
  padding: 3rem
}